<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />
<h2 class="header-center">Hello <span th:text="${user.getUsername()}"/>!</h2>
<hr>
<h4 class="header-center">Admin Dashboard</h4>
<div>
    <div>
        <form action="/users/edit" th:method="GET">
            <label for="book-id">Book ID</label>
            <input name="book-id" id="book-id" type="number">
            <button>Edit Book</button>
        </form>
        <form action="/users/delete" th:method="POST">
            <label for="book-id">Book ID</label>
            <input name="book-id" id="book-id" type="number">
            <button>Delete Book</button>
        </form>
    </div>
    <div>
        <form action="/reviews/edit" th:method="GET">
            <label for="review-id">Review ID</label>
            <input name="review-id" id="review-id" type="number">
            <button>Edit Review</button>
        </form>
        <form action="/reviews/delete" th:method="POST">
            <label for="review-id">Review ID</label>
            <input name="review-id" id="review-id" type="number">
            <button>Delete Review</button>
        </form>
    </div>
    <div>
        <form action="/users/edit" th:method="GET">
            <label for="user-id">User ID</label>
            <input name="user-id" id="user-id" type="number">
            <button>Edit User</button>
        </form>
        <form action="/users/ban" th:method="POST">
            <label for="user-id">User ID</label>
            <input name="user-id" id="user-id" type="number">
            <button>Ban User</button>
        </form>
    </div>
</div>




<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>