<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />
<h2 class="header-center">Hello <span th:text="${user.getUsername()}"/>!</h2>
<hr>

<h4 class="header-center">Admin Dashboard</h4>
<br>
<!--
<div class="container">
    <div class="row">
        <div class="col">
            <form action="/users/edit" th:method="GET">
                <label for="bookedit">Book ID</label>
                <input name="bookedit" id="bookedit" type="number">
                <button>Edit Book</button>
            </form>
            <form action="/users/delete" th:method="POST">
                <label for="bookdelete">Book ID</label>
                <input name="bookdelete" id="bookdelete" type="number">
                <button>Delete Book</button>
            </form>
        </div>
        <div class="col">
            <form action="/reviews/edit" th:method="GET">
                <label for="reviewedit">Review ID</label>
                <input name="reviewedit" id="reviewedit" type="number">
                <button>Edit Review</button>
            </form>
            <form action="/reviews/delete" th:method="POST">
                <label for="reviewdelete">Review ID</label>
                <input name="reviewdelete" id="reviewdelete" type="number">
                <button>Delete Review</button>
            </form>
        </div>
        <div class="col">
            <form action="/users/edit" th:method="GET">
                <label for="useredit">User ID</label>
                <input name="useredit" id="useredit" type="number">
                <button>Edit User</button>
            </form>
            <form action="/users/ban" th:method="POST">
                <label for="userdelete">User ID</label>
                <input name="userdelete" id="userdelete" type="number">
                <button>Ban User</button>
            </form>
        </div>
    </div>
</div>
-->

<!-- Tab-Pill Controller -->
<div class="content">
    <ul class="nav nav-pills m-2 d-flex justify-content-evenly" id="pills-tab" role="tablist">
        <li class="nav-item m-2 p-3" role="presentation">
            <button class="nav-link" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users" aria-selected="false">
                Users</button>
        </li>
        <li class="nav-item m-2 p-3" role="presentation">
            <button class="nav-link active" id="pills-admins-tab" data-bs-toggle="pill" data-bs-target="#pills-admins" type="button" role="tab" aria-controls="pills-admins" aria-selected="true">
                Admins</button>
        </li>
        <li class="nav-item m-2 p-3" role="presentation">
            <button class="nav-link" id="pills-edit-tab" data-bs-toggle="pill" data-bs-target="#pills-edit" type="button" role="tab" aria-controls="pills-edits" aria-selected="false">
                Editing</button>
        </li>
    </ul>
<!-- Tab Content Container Below -->
    <br>
    <div class="tab-content" id="pills-tabContent">
        <!-- 1st TabPanel pills-users -->
        <div class="tab-pane fade show active" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">
            <div class="d-flex flex-row flex-wrap justify-content-evenly">
                <p>User Search</p>
            </div>
            <br>
        </div>
        <!-- 2nd TabPanel pills-admins-->
        <div class="tab-pane fade" id="pills-admins" role="tabpanel" aria-labelledby="pills-admins-tab">
            <div class="d-flex flex-row flex-wrap justify-content-evenly">
                <p>Show Admins</p>
            </div>
        </div>
        <!-- 3rd TabPanel pills-edits -->
        <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab">
            <p>Edit Items</p>
        </div>
    </div>
</div>

<br>



<!--<footer th:replace="partials :: footer"/>-->
<footer th:replace="partials :: footer"></footer>
<body th:include="partials :: scripts-bottom" />
</body>
</html>