<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />
<h2 class="header-center">Hello <span th:text="${user.getUsername()}"/>!</h2>
<hr>
<h4 class="header-center">Admin Dashboard</h4>




<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>