<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>All reviews</title>
	<head th:include="partials :: head" />
</head>
<body>

<form th:action="@{/reviews/create}" th:method="POST" th:object="${bookReview}">
<div class="container mt-5 mb-5">
<div class="mb-3">
	<label for="title" class="form-label">Title</label>
	<input th:field="*{title}" type="text" class="form-control" id="title" name="title" placeholder="Review Title" minlength="3" maxlength="255">
</div>

<div class="mb-3">
	<label for="body" class="form-label">Write a review</label>
	<textarea th:field="*{body}" class="form-control" id="body" rows="3" name="body" placeholder="Body" minlength="3" maxlength="255"></textarea>
</div>

<div class="mb-3">
	<label for="rating" class="form-label">Rate book (1-5)</label>
	<input th:field="*{rating}" type="text" class="form-control" id="rating" name="rating" placeholder="Choose 1-5" minlength="1" maxlength="1">
</div>

	<div class="mb-3">
		<label for="title" class="form-label">Enter today's date</label>
		<input th:field="*{createdOn}" type="text" class="form-control" id="createdOn" name="createdOn" placeholder="month day, year">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

<footer th:replace="partials :: footer"/>

</body>
</html>