<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Edit Review</title>
	<head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<div class="back-img">
	<div class="container form-shadow form-color mb-5 bg-body rounded h-50 w-50">
		<form th:action="|/reviews/${bookReview.getId()}/edit|" th:method="POST" th:object="${bookReview}">
				<h2 class="mb-3 text-center book-index-header-top">Editing review</span> </h2>
				<div class="mb-3">
					<label for="title" class="form-label">Edit title</label>
					<input th:field="*{title}" type="text" class="form-control" id="title" name="title"
						   th:value="${bookReview.getTitle()}" minlength="3" maxlength="255">
				</div>

				<div class="mb-3 book-index-headers">
					<label for="body" class="form-label">Edit review</label>
					<textarea th:field="*{body}" class="form-control" id="body" rows="3" name="body"
							  th:value="${bookReview.getBody()}" minlength="3"></textarea>
				</div>
				<div class="mb-3">
					<label for="rating" class="form-label">Rate book (1-5)</label>
					<input th:field="*{rating}" type="number" class="form-control select-sizing" id="rating" name="rating"
						   th:value="${bookReview.getRating()}" min="1" max="5">
				</div>
			<div class="text-center">
				<button type="submit" class="btn submit-btn text-center mb-5">Submit</button>
			</div>

		</form>
		</section>
	</div>

</div>


<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>