<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Reviews</title>
	<head th:include="partials :: head" />
</head>
<body>

<nav th:replace="partials :: navbar" />
<h1>List of all reviews</h1>
<div class="container">
	<div class="card-body" th:each="review : ${allReviews}">
		<h4 class="card-title"> Book <span th:text="${review.getBook().getTitle()}"></span></h4>
		<h3 class="card-title"> Title <span th:text="${review.getTitle()}"></span></h3>
		<h3 class="card-title"> By User: <span th:text="${review.getUser().getUsername()}"></span></h3>
		<h5 class="card-title"> Rating: <span th:text="${review.getRating()}"></span> Out Of 5</h5>
		<p class="card-title"> Reviewed On: <span th:text="${review.getCreatedDate()}"></span></p>

		<a th:href="|/reviews/${review.getId()}|"></a>

	</div>
</div>

<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>