<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Individual Ad</title>
	<head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<h2 class="header-center"><span th:text="${review.getUser().getUsername()}"> </span>'s review of <span th:text="${review.getBook().getTitle()}"></span> by <span th:text="${review.getBook().getAuthor().getFullname()}"></span> </h2>
<br>
<div>
	<h5 class="header-center" th:text="${review.getTitle()}"></h5>
	<p class="text-center" th:text="${review.getBody()}"></p>
	<p class="text-center">Rating: <span th:text="${review.getRating()}"></span> of 5</p>
	<p class="text-center">Posted on: <span th:text="${review.getCreatedDate()}"></span></p>
	<div class="text-center">
		<img th:src="${review.getBook().getBookImg()}">
	</div>
	<!-- See more reviews of this book-->
	<!-- See more reviews by this user-->
</div>





<footer th:replace="partials :: footer"/>
</body>
</html>