<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Individual Ad</title>
	<head th:include="partials :: head" />
</head>
<body class="d-flex flex-column min-vh-100">


<div class="card" style="width: 300px;">
	<div class="card-body">
		<h5 class="card-title" th:text="${individualReview.getTitle()}"></h5>
		<p class="card-text" th:text="${individualReview.getBody()}"></p>
		<p class="card-text">Rating: <span th:text="${individualReview.getRating()}"></span></p>
		<p class="card-text">Posted: <span th:text="${individualReview.getCreatedDate()}"></span></p>
	</div>
</div>

<footer th:replace="partials :: footer"/>
</body>
</html>