<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Edit Copy</title>
	<head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />
<div class="back-img">
	<div class="container form-shadow mb-5 bg-body rounded h-50 w-50">
		<div class="row">
			<div class="col form-color">
				<h2 class="headers-font header-center book-index-header-top">Edit Your Copy of <span class="headers-font" th:text="${ownedbook.getBook().getTitle()}"></span></h2>
				<div class="text-center mt-2">
					<img th:src="${ownedbook.getBook().getBookImg()}" alt="">
				</div>


				<form th:action="|/copies/${ownedbook.getId()}/edit|" th:method="POST">
					<div class="mt-5 mb-5">
						<div class="">
							<label for="bookcondition" class="summary-font fw-bold p-2">Choose book condition:</label><br>
							<select class="form-select" name="bookcondition" id="bookcondition">
								<option name="bookcondition" value="poor">Poor</option>
								<option name="bookcondition" value="fair">Fair</option>
								<option name="bookcondition" value="better">Better</option>
								<option name="bookcondition" value="new">New</option>
							</select>
						</div>

					<br>

					<div class="">
						<label class="fw-bold p-2 summary-font" for="istradeable">Is the book tradeable?</label><br>
						<select class="form-select" name="istradeable" id="istradeable">
							<option name="istradeable" value="true">Yes</option>
							<option name="istradeable" value="false">No</option>
						</select>
					</div>

						<br>

					<div class="">
						<label for="booktype" class="summary-font fw-bold p-2">Choose book type:</label><br>
						<select class="form-select" name="booktype" id="booktype">
							<option name="booktype" value="1">Paperback</option>
							<option name="booktype" value="2">Hardback</option>
							<option name="booktype" value="3">e-Book</option>
						</select>
					</div>


					<div class="mt-5 mb-5 text-center">
						<button type="submit" class="btn submit-btn">Submit Changes</button>
					</div>
					</div>


				</form>
			</div>
		</div>
	</div>
</div>





<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>