<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Edit copy</title>
	<head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<h1 class="text-center">Edit Your Copy of <span th:text="${ownedbook.getBook().getTitle()}"></span></h1>

<form th:action="|/books/${ownedbook.getBook().getId()}/copies/${ownedbook.getId()}/edit|" th:method="POST" style="margin: auto; height: 300px;width: 750px;">
	<div class="text-center">
		<label for="bookcondition" class="xx-large text-center">Choose book condition:</label><br>
		<select name="bookcondition" id="bookcondition">
			<option name="bookcondition" value="poor">Poor</option>
			<option name="bookcondition" value="fair">Fair</option>
			<option name="bookcondition" value="better">Better</option>
			<option name="bookcondition" value="new">New</option>
		</select>
	</div>

	<div class="text-center">
		<label for="istradeable" class="xx-large text-center">Is the book tradeable?</label><br>
		<select name="istradeable" id="istradeable">
			<option name="istradeable" value="true">Yes</option>
			<option name="istradeable" value="false">No</option>
		</select>
	</div>

	<div class="text-center">
		<label for="booktype" class="xx-large text-center">Choose book type:</label><br>
		<select name="booktype" id="booktype">
			<option name="booktype" value="1">Paperback</option>
			<option name="booktype" value="2">Hardback</option>
			<option name="booktype" value="3">e-Book</option>
		</select>
	</div>
	<div class="text-center">
		<button type="submit" class="button-style">Submit Changes</button>
	</div>
</form>


<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>