<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Books</title>
	<head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<h1>Showing copy of <span th:text="${book.getTitle()}"></span></h1>

<div class="d-flex flex-row flex-wrap justify-content-evenly">
	<div class="book card" style="width: 18rem;" >
		<img th:src="${book.getBookImg()}" class="card-img-top" alt="book">
		<div class="card-body">
			<p class="card-text">Summary: <span th:text="${book.getSummary()}"></span></p>
			<p class="card-text">Rating: <span th:text="${book.getRating()}"></span></p>
			<p class="card-text">Condition: <span th:text="${showBook.getBookCondition()}"></span></p>
			<p class="card-text">Type: <span th:text="${showBook.getType()}"></span></p>
			<p class="card-text">Available for Trade:
				<span th:if="${showBook.isTradable()}" class="green">Yes</span>
				<span th:if="${!showBook.isTradable()}" class="red">No</span>
			</p>
			<p class="card-text">Owner: <span th:text="${showBook.getUser().getUsername()}"></span></p>

			<div th:if="${isOwner}">
				<form th:method="get" >
					<button type="submit" th:formaction="|/books/${book.getId()}/copies/${showBook.getId()}/edit|">Edit</button>
				</form>

				<form th:method="delete">
					<button type="submit"  th:formaction="|/books/${book.getId()}/copies/${showBook.getId()}/delete|">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" /></body>
</body>
</html>