<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<h2>Do you want to add this book?</h2>
<div>
    <form th:action="@{/books/create}" th:method="POST">
        <h2 th:text="${title}"></h2>
        <h3>By: <span th:text="${author}"></span></h3>
        <img th:src="${imagesrc}">

        <input id="title" name="title" class="form-control" type="hidden" th:value="${title}">
        <input id="author" name="author" class="form-control" type="text" th:value="${author}">
        <input id="author" name="author" class="form-control" type="text" th:value="${imagesrc}">
        <!-- Add Select for Categories, Grade Level -->
        <button class="btn btn-lg btn-secondary mt-2 mb-2" type="submit">Add This Book</button>
    </form>
</div>

<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>