<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<div>
    <form th:action="@{/books/{id}/edit (id = ${book.getId()})}" th:method="POST" th:object="${book}">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" class="form-control" type="text" th:field="*{title}">
        </div>

        <!-- <div class="form-group">
             <label for="author">Author</label>
             <input id="author" name="author" class="form-control" type="text" th:field="*{author}">
         </div> -->

        <div class="form-group">
            <label for="summary">Summary</label>
            <input id="summary" name="summary" class="form-control" type="textarea" th:field="*{summary}">
        </div>

        <div class="form-group">
            <label for="rating">Rating</label>
            <input id="rating" name="rating" class="form-control" type="textarea" th:field="*{rating}">
        </div>
        <!-- Add Select for Categories, Grade Level -->
        <div class="form-group">
            <label for="categories">Categories</label>
            <input id="categories" name="categories" class="form-control" type="textarea" th:field="*{categories}">
        </div>




        <button class="btn btn-lg btn-secondary mt-2 mb-2" type="submit">Edit Book</button>
    </form>
</div>

<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>