<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />



<h1>Here are a list of available books</h1>

    <div th:each="book : ${allbooks}">
        <div class="card">
            <h5 class="card-title" th:text="${book.getTitle}">Book Title</h5>
            <p class="card-summary" th:text="${book.getSummary}">Summary</p>
            <h6 class="card-author" th:text="${book.getAuthor}"></h6>
            <h5 class="card-rating" th:text="${book.getRating}"></h5>
<!--            <h6 class="card-img" th:text="${book.getBook_img}"></h6>-->

        </div>
    </div>







<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" /></body>
</body>
</html>