<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<section class="search-area-container">
    <!--SEARCH-BAR-->
    <div class="d-flex flex-column form-container mt-3 p-2 py-5 text-center ">
        <!--TEXT HEADING-->
        <div class="d-inline">
            <!--<label for="param" class="fw-bold">Search By:</label>-->
            <div class="search-field-container p-1">
                <select name="param" id="param" class="select-field">
                    <option value="title" selected>Title</option>
                    <option value="author">Author</option>
                </select>
                <input id="query" name="query" type="text" class="input-field">
                <!-- javascript search function target is this button id -->
                <button type="submit" id="searchsubmit" class="btn btn-success m-1">Search</button>
                <!--<label for="query" class="fw-bold">Search For:</label>-->
            </div>
        </div>
    </div>
</section>
    <br>
<!-- searchedparam and searcehdquery set the initial values passed to the api for search-->
    <h3 class="header-center">Search by: <span th:text="${searchedparam}" id="searchedparam"></span>, with term: <span th:text="${searchedquery}" id="searchedquery"></span>.</h3>
    <h3 class="header-center text-secondary">Choose the result that best matches your search, or search again</h3>
    <br>
<!-- Target for populating the search results through js-->
<section class="book-cards">
    <!--BOOK CARD-->
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="row test-media" id="search-results">
        </div>
    </div>
</section>

<input id="key1" name="key1" type="hidden" th:value="${key1}">
<script th:inline="javascript">
    var GB_API = [[${key1}]];
</script>
<script th:include="partials :: scripts-bottom"/>
<script th:src="@{/js/books_api.js}"></script>
</body>
</html>