<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Make A Trade</title>
    <head th:include="partials :: head"/>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <!--    <link th:href="@{/styles.css}" rel="stylesheet">-->

    <!--    <script src="https://kit.fontawesome.com/836472cbff.js" crossorigin="anonymous"></script>-->
    <!--    need to add following script to partials-->
    <!--    <script th:src="@{/js/keys2.js}"></script>-->
</head>
<body>
<nav th:replace="partials :: navbar"/>
<main class="mt-3 container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex flex-column justify-content-around">
                    <h3 th:text="${book.title}">Title</h3>
                    <h5>Author: <span th:text="${book.getAuthor().getFullname()}">Author</span></h5>
                    <p th:text="${book.getSummary()}">Book Summary</p>
                    <p th:text="${book.getRating()}">Book Rating</p>
                </div>
                <!--                <figure class="mt-3 pt-3 pb-3 figure col">-->
                <!--                    <img src="/static/img/harryPotter.jpeg"-->
                <!--                         th:attr="src=@{tradeBook.getBook_img()}, title=${tradeBook.getTitle()}, alt=${tradeBook.getAuthor()}"/>-->
                <!--&lt;!&ndash;                    <img class="" src="/static/img/harryPotter.jpeg" alt="Book Cover" style="width: 8rem; height: 11rem">&ndash;&gt;-->
                <!--                </figure>-->
            </div>
        </div>
    </div>
</main>

<!--WORKING ON CONDITION STATEMENT TO DISPLAY OWNERS OF BOOK-->

<article class="container mt-3 d-flex flex-column">
    <h3 class="text-center">Users Who Own A Tradable Copy</h3>
    <table>
        <tr th:each="owner : ${owners}">
            <td>
            <span th:if="${owner.isTradable()}">
                <form action="" class="book d-flex justify-content-between m-1">
                    <h6 class="align-self-center m-0" th:text="${owner.getUser().getUsername()}">Username: tester1</h6>
                    <p class="align-self-center m-0" th:text="${owner.getUser().getEmail()}">Email: tester1@mail.com</p>
                    <p class="align-self-center m-0" th:text="${owner.getType().getName()}">Type: Hardback</p>
                    <p class="align-self-center m-0" th:text="${owner.getBookCondition()}">Condition: Poor</p>
                    <input type="hidden" name="userId" th:value="${owner.getUser().getId()}">
                    <div class="justify-content-between">
                        <button class="btn btn-primary btn-sm" type="submit">Trade</button>
                        <button class="btn btn-primary btn-sm" type="submit">View User</button>
                    </div>
                </form>
                <!--th:each works, not sure why redlines won't go away-->
<!--                <li th:each="owner : ${owners}" th:text="${owner.getUser().getUsername()}"></li>-->
            </span>
            </td>
        </tr>
    </table>
</article>


<script th:include="partials :: scripts-bottom"/>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
<!--<script th:src="@{/js/books_api_refactor.js}"></script>-->


</body>
</html>