<!DOCTYPE html>

<html lang="en xmlns:th=http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Books4Trade</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />


<h1 class="header-center title-bg" th:text="${book.title}">Book Title</h1>

    <div>
        <div class="text-center">
            <img th:src="${book.getBookImg()}">
        </div>
        <h3 class="header-center">By: <span th:text="${book.getAuthor().getFullname()}"></span></h3>
        <p class="text-center" th:text="${book.getSummary()}">Summary</p>
        <p class="text-center">Average Rating <span th:text="${book.getRating()}"></span></p>
<!--        <p>Read by X Users, owned by X users, Reviewed by X Users</p>-->
    </div>

    <div>
        <div class="text-center">
            <form th:action="@{/books/{id}/read (id=${book.getId()})}" th:method="POST" class="text-center">
                <input type="hidden" th:value="${book.getId()}" id="read" name="read">
                <button type="submit" class="btn btn-secondary m-2">Mark as Read</button>
            </form>
            <form th:method="GET">
                <!-- <button th:formaction="">Add to Watchlist</button><br> -->
                <button class="btn btn-secondary m-2" type="submit" th:formaction="|/books/trade/${book.getId()}|">See Copies Available</button>
                <button class="btn btn-secondary m-2" type="submit" th:formaction="|/reviews/book/${book.getId()}|">See Reviews</button>
            </form>
        </div>

        <form class="text-center" th:method="GET">
            <!-- <button th:formaction="">Add to Watchlist</button><br> -->
            <button class="btn btn-secondary m-2" type="submit" th:formaction="|/books/${book.getId()}/addcopy|">Add A Copy You Own</button>
            <button class="btn btn-secondary m-2" type="submit" th:formaction="|/books/${book.getId()}/addreview|">Add Your Review</button>
        </form>
    </div>
<br>

    
<footer th:replace="partials :: footer"/>
<script th:include="partials :: scripts-bottom" />
</body>
</html>