<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Make A Trade</title>
    <head th:include="partials :: head"/>
    <style>
        .book-cover{
            width: 8rem !important;
            height: 10rem !important;
        }
    </style>
</head>
<body>
<nav th:replace="partials :: navbar"/>
<main class="mt-3 container align-content-center">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex flex-column justify-content-around">
                    <h3 th:text="${book.title}">Title</h3>
                    <h5>Author: <span th:text="${book.getAuthor().getFullname()}">Author</span></h5>
                    <p th:text="${book.getSummary()}">Book Summary</p>
                    <p th:text="${book.getRating()}">Book Rating</p>
                </div>
                <div class="mt-3 pt-3 pb-3 col">
                    <img class="book-cover" th:src="${book.getBookImg()}">
                </div>
            </div>
        </div>
    </div>
</main>

<article class="container mt-3 d-flex flex-column">
    <h3 class="text-center">Users Who Own A Tradable Copy</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Book Type</th>
            <th scope="col">Book Condition</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <span th:if="${owner.isTradable()}">
                    <form action="">
                    <td class="align-middle" th:text="${owner.getUser().getUsername()}">Username</td>
                    <td class="align-middle" th:text="${owner.getUser().getEmail()}">Email</td>
                    <td class="align-middle" th:text="${owner.getType().getName()}">Type</td>
                    <td class="align-middle" th:text="${owner.getBookCondition()}">Condition</td>
                    <td class="align-middle">
                        <input type="submit" class="btn btn-primary btn-sm" value="Trade" th:formaction="'#'" th:formtarget="_blank">
                    </td>
                </form>
                </span>
            </tr>
        </tbody>
    </table>
</article>
<script th:include="partials :: scripts-bottom"/>
</body>
</html>