

body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Verdana, Arial, san-serif;
    font-size: 11px;
    color: #ffffff;
    background: #4b4743;
}
.container{
    /*display: flex;*/
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px;
}
.box{
    position: relative;
    width: 500px;
    height: 500px;
    background: grey;
    float: right;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;

}
.form{
    text-align: center;
}
