<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>You Were Banned</title>
    <head th:include="partials :: head" />
</head>
<body>
    <h1 class="header-center text-danger mt-5">You Have Been Banned From swapabook.xyz.</h1>
    <h3 class="header-center text-muted mt-2"> If you would like to know why or to appeal the ban, contact an admin.</h3>
    <h4 class="header-center text-muted mt-2">swapabook.contact@gmail.com</h4>
</body>
</html>