<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile | Edit</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<h1>Edit Your Information</h1>
<!--<form th:action="|/users/${user.getId()}/edit|"  th:method="POST">-->
<form th:action="@{/profile/edit}" th:method="POST">
    <div class="mb-3 mt-3">
        <label for="firstName">First Name</label>
        <input type="text" id="firstname" name="firstname" th:value="${user.getFirstName()}">
    </div>
    <div class="mb-3 mt-3">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastname" name="lastname" th:value="${user.getLastName()}">
    </div>
    <div class="mb-3 mt-3">
        <label for="location">Location</label>
        <input type="text" id="location" name="location" th:value="${user.getLocation}">
    </div>
    <!--<div class="mb-3 mt-3">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" th:value="">
    </div>-->


    <!--<label for="password">Password</label>
    <input type="text" id="password" placeholder="Enter New Password">-->

    <!--<label for="userName">Username</label>
    <input type="text" id="userName" placeholder="Enter New Username">-->



    <button type="submit">Submit Changes</button>
</form>

<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>