<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<div>
    <div class="container">

        <div class="box">
            <div class="form">
            <h5 text-align="center">Forgot Your Password?</h5>
            <div class="form-outline">
                <span>Email</span><input type="text" id="email" class="email" />
            </div>

                <button type="button" class=login-btn>Get new password</button>
                <br>
                <a href="">Cancel</a>
            </div>
        </div>
    </div>


</div>

<span th:include="partials :: scripts-bottom" />
</body>
</html>