<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users | Index</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<section class="search-area-container">
    <!--SEARCH-BAR-->
    <div class="d-flex flex-column form-container mt-3 p-2 py-5 text-center ">
        <!--TEXT HEADING-->
        <div class="header-search text-light">
            <h2 th:if="${!searched}" >Not finding something? Try the searchbar!</h2>
        </div>
        <div class="d-inline">
            <form th:action="@{/users/search}" th:method="POST" class="">
                <!--<label for="param" class="fw-bold">Search By:</label>-->
                <div class="search-field-container p-1">
                    <label for="query" class="text-light">Search For Username:</label>
                    <input id="query" name="query" type="text">
                    <button type="submit" class="btn btn-secondary">Search</button>
                </div>
            </form>
        </div>
    </div>
</section>
    <br>
    <section class="book-cards-header">
        <h2 class="book-index-header-top fw-bold text-center w-auto" th:if="${!searched}">Here are all of our Users!</h2>
        <h2 class="book-index-header-top fw-bold text-center w-auto" th:if="${searched}">Here are our users matching <span th:text="${searchedBy}"></span></h2>
        <h3 th:if="${!searched}" class="header-center text-muted">Not finding something? Try the searchbar!</h3>
    </section>
    <br>
<div class="row justify-content-center m-4 p-4">
    <div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${allusers}">
                <th scope="row" th:text="${user.getUsername()}"></th>
                <td><span th:text="${user.getEmail()}"></span></td>
                <td><a th:href="|/users/${user.getId()}|">View User</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />

</body>
</html>