<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<head th:include="partials :: head" />
	<style>


	</style>
</head>
<body class="main-bg">
<nav th:replace="partials :: navbar" />

<div class="container subcontainer bg-white mt-5">
<form class="" th:action="@{/login}" method="POST">

	<h1 class="text-center">Swap-A-Book</h1>
	<p class="text-center">Add book, look at books, trade books, find your book.</p>
	<div class="mb-3 mt-3">
		<label for="username" class="form-label">Username</label>
		<input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input type="password" name="password"  class="form-control" id="password">
	</div>
	<button type="submit" class="btn btn-primary mb-3">Login</button>
</form>
</div>

<span th:include="partials :: scripts-bottom" />
</body>
</html>