<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<head th:include="partials :: head" />
	<style>


	</style>
</head>
<body class="main-bg">
<nav th:replace="partials :: navbar" />



<div class="">
	<div class="container subcontainer form-shadow mb-5 bg-body rounded h-50 w-50 mt-3">
		<div class="row">
			<form class="form-color" th:action="@{/login}" method="POST">
				<h1 class="text-center">Swap-A-Book</h1>
				<p class="text-center">Add your favorite books! Then: review, rate, and trade them!</p>
				<p class="text-center">Find your book here at Swap A Book!</p>
				<p class="text-center"><small th:if="${registrationsuccess}" class="text-success text-center">Your registration was successful, please check your email for login information.</small></p>

				<div class="mb-3 mt-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" name="password"  class="form-control" id="password">
				</div>
				<small th:if="${param.error}" class="text-danger">Invalid username and password.</small><br>

				<button type="submit" class="btn btn-primary mb-3">Login</button>
			</form>
		</div>
	</div>
</div>

<footer th:replace="partials :: footer"/>
<span th:include="partials :: scripts-bottom" />
</body>
</html>