<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<div>
    <div class="container">

        <div class="box">
            <div class="form">
            <h5>Please log in</h5>

                <span>Username</span><input type="text" id="username" class="username" /><br>

                <span>Password</span><input type="password" id="password" class="password" /><br>
                <button type="button" class=login-btn>Login</button>
                <a href="">Forgot Password</a>
        </div>
        </div>
    </div>
</div>




</body>
</html>