<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />

<form class="container bg-white" th:action="@{/profile/passwordreset}" th:method="POST">
    <div class="mb-3 mt-3">
        <label for="password">Current Password</label>
        <input type="password" id="password" name="password" minlength="6" maxlength="25">
    </div>
    <div class="mb-3 mt-3">
        <label for="newpassword">New Password</label>
        <input type="password" id="newpassword" name="newpassword">
    </div>
    <div class="mb-3 mt-3">
        <label for="passwordconfirm">Confirm New Password</label>
        <input type="password" id="passwordconfirm" name="passwordconfirm">
    </div>

    <button class="btn btn-secondary" type="submit">Submit</button>
</form>


<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>