<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <head th:include="partials :: head" />
</head>
<body>
<nav th:replace="partials :: navbar" />
<div class="back-img">
    <div class="container form-shadow mb-5 bg-body rounded h-50 w-50 mt-3">
        <div class="row">
            <div class="col form-color">
                <h2 class="header-center book-index-header-top">Reset Your Password</h2>
                <form class="container bg-white" th:action="@{/profile/passwordreset}" th:method="POST">
                    <div class="mb-3 mt-3">
                        <label for="password">Current Password</label>
                        <input type="password" id="password" name="password" minlength="6" maxlength="25" class="form-control">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="newpassword">New Password</label>
                        <input type="password" id="newpassword" name="newpassword" class="form-control">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="passwordconfirm">Confirm New Password</label>
                        <input type="password" id="passwordconfirm" name="passwordconfirm" class="form-control">
                    </div>
                    <div class="text-center">
                        <button class="btn edit-btn mb-2" type="submit">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials :: footer"/>
<body th:include="partials :: scripts-bottom" />
</body>
</html>