<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <title>Register</title>
  <head th:include="partials :: head" />
	<style>
		.container {
			width: 40%;
			border: 3px solid #f1f1f1;
			background-color: white;
			}
		body {
			background: rgb(242,238,203);
			background: linear-gradient(90deg, rgba(242,238,203,1) 2%, rgba(255,252,222,1) 46%, rgba(246,242,197,0.989233193277311) 100%);
			}

		label {
			font-weight: bold;
			margin-top: 10px;
		}
	</style>
</head>
<body>
<nav th:replace="partials :: navbar" />

<div class="container mt-5">
<h1>Create an account</h1>
<form th:action="@{/register}" method="POST" th:object="${user}">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" type="text" id="username" minlength="6" maxlength="25" th:field="*{username}" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" id="email" minlength="6" th:field="*{email}" />
  </div>
 <!-- <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" id="password" type="password" minlength="6" maxlength="25" th:field="*{password}" />
  </div>
  <div class="form-group">
    <label for="password-confirm">Retype Password</label>
    <input class="form-control" id="password-confirm" name="password-confirm" type="password" />
  </div>-->
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input class="form-control" id="firstname" type="text" minlength="2" maxlength="25" th:field="*{firstName}" />
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input class="form-control" id="lastname" type="text" minlength="2" maxlength="25" th:field="*{lastName}" />
  </div>
  <div class="form-group">
    <label for="location">Location (City, State)</label>
    <input class="form-control" id="location" type="text" th:field="*{location}" />
  </div>
  <input class="mt-3 mb-3" value="Sign me up!" type="submit" />
</form>
</div>



<span th:include="partials :: scripts-bottom" />
</body>
</html>