<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <title>Register</title>
  <head th:include="partials :: head" />

</head>
<body class="main-bg">
<nav th:replace="partials :: navbar" />
<div class="back-img">
    <div class="container subcontainer form-shadow mb-5 bg-body rounded h-50 w-50 mt-3">
        <div class="row">
            <div class="form-color">
                <h1 class="text-center">Create an account</h1>
                <form th:action="@{/register}" method="POST" th:object="${user}">
                    <div class="mb-3 mt-3">
                        <label for="username" class="form-label">Username</label>
                        <input class="form-control" type="text" id="username" minlength="6" maxlength="25" th:field="*{username}" />
                        <small th:if="${userExists}" class="text-danger">Username already exists.</small>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" type="text" id="email" minlength="6" th:field="*{email}" />
                        <small th:if="${emailExists}" class="text-danger">Email is already in use.</small>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="firstname" class="form-label">First Name</label>
                        <input class="form-control" id="firstname" type="text" minlength="2" maxlength="25" th:field="*{firstName}" />
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input class="form-control" id="lastname" type="text" minlength="2" maxlength="25" th:field="*{lastName}" />
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="location" class="form-label">Location (City, State)</label>
                        <input class="form-control" id="location" type="text" th:field="*{location}" />
                    </div>
                    <button class="btn btn-primary mt-3 mb-3" type="submit">Sign me up!</button>
              </form>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials :: footer"/>
<span th:include="partials :: scripts-bottom" />
</body>
</html>