<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="|Oops, ${error}|"></title>
	<head th:include="partials :: head" />
</head>

<body>

<div class="container" style="margin-top: 200px; text-align: center">
	<th:block th:switch="${error}">
		<div style="color: red" th:case="'Internal Server Error'">
			<h1>Internal Server Error</h1>
		</div>
	</th:block>
	<hr>
	<h4><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">Click here for more information</a></h4>
	<h5><a th:href="@{/}">Back to Safety</a></h5>
</div>

<body th:include="partials :: scripts-bottom" />

</body>
</html>