<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
	<title th:text="|We are sorry, ${error}|"></title>
	<head th:include="partials :: head" />
</head>

<body>



<div class="container" style="margin-top: 200px; text-align: center">
	<h1 style="color: red;">Maintenance is in progress</h1>
	<h3>Our Support team is working on it.</h3>
	<a href="/#">Please try again later</a>
	<hr>
	<h4><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">Click here for more information</a></h4>
	<p style="margin-top: 50px; text-decoration: underline">Watch a video instead</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/m2ua3O_fdCY" title="YouTube video player"
	        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
	        allowfullscreen>
	</iframe>
</div>

<body th:include="partials :: scripts-bottom" />

</body>
</html>