





body {
}
.header-center {
    margin: 0;
    width: 100%;
    text-align: center;
}
.title-bg{
    padding: .2em;
    background-color: lightgray;
}
.book-card{
    width: 248px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.book-headers{
    text-align: center;
    margin: 0;
    padding: .4em;
}

/*.featured {*/
/*    border: 1px red solid;   */
/*}*/

.featured-col {
    background: saddlebrown;
    border: 1px red solid;
}

.register-col {
    background: saddlebrown;
    border: 1px red solid;
}
.list-style-none{
    list-style: none !important;
}