

:root {
    --main-bg-color: linear-gradient(90deg, rgba(242,238,203,1) 2%, rgba(255,252,222,1) 46%, rgba(246,242,197,0.989233193277311) 100%);
    --home-bg-color: antiquewhite;
}

.main-bg{
    background: rgb(242,238,203);
    background: var(--main-bg-color)
}
.header-center {
    margin: 0;
    width: 100%;
    text-align: center;
}
/*Used in show and profile html */
.content{
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
}
/*Used in activate and login html*/
.subcontainer {
    width: 50%;
    border: 3px solid #f1f1f1;
}
/*used in activate, login, and password*/
.bg-white{
    background-color: white;
}

.title-bg{
    padding: .2em;
    background-color: lightgray;
    width: 100%;
}

.book-card{
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.book-headers{
    text-align: center;
    margin: 0;
    padding: .4em;
}

/*used in about html for pictures*/
.img-circle {
    border-radius: 50%;
    border: 2px solid black;
    height: auto;
    width: 60%;
    margin: 20px auto auto;
}
/*text sizing for label on create-copy html*/
.xx-large font{
    font-size: xx-large;

}


.bold-text{
    font-weight: bold;
}

.icon-logo {
    width: 24px;
    height: 24px;
}