

:root {
    --main-bg-color: linear-gradient(90deg, rgba(242,238,203,1) 2%, rgba(255,252,222,1) 46%, rgba(246,242,197,0.989233193277311) 100%);
    --home-bg-color: antiquewhite;
}

.main-bg{
    background: rgb(242,238,203);
    /*background: var(--main-bg-color)*/
    //background-color: #f9f7f4;
}

.header-center {
    margin: 0;
    width: 100%;
    text-align: center;
}
/*Used in show and profile html */
.content{
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
}
/*Used in activate and login html*/
.subcontainer {
    width: 50%;
    border: 3px solid #f1f1f1;
}
/*used in activate, login, and password*/
.bg-white{
    background-color: white;
}

.title-bg{
    padding: .2em;
    background-color: lightgray;
    width: 100%;
}

.book-card{
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.book-headers{
    text-align: center;
    margin: 0;
    padding: .4em;
}

/*used in about html for pictures*/
.img-circle {
    border-radius: 50%;
    border: 2px solid black;
    height: auto;
    width: 60%;
    margin: 20px auto auto;
}
/*text sizing for label on create-copy html*/
.xx-large font{
    font-size: xx-large;

}


.bold-text{
    font-weight: bold;
}


.homepage-bg {
   background-color: #f9f7f4;
}

.icon-logo {
   width: 24px;
   height: 24px;
}


/*Footer*/
.footer {
    display: block;
}
.mt-auto {
    margin-top: auto!important;
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

/*Homepage*/

.register-paragraph{
    letter-spacing: 0.5px;
}
.carousel-inner {
    width: 100%;
    /*height: 50%;*/
}

@media screen and (max-width: 768px) {
    .carousel {
        display: none;
    }
}

/*Featured Book and User CSS start*/
.featured-card {
   width: 18rem;
}
/*Featured Book and User CSS start*/
/*-------------------------------------------------- *!*/
.container-hero {
    /*background-color: #f9f7f4;*/
    /*background-image: url("../img/hero-background.jpg");*/
    /*background-repeat: no-repeat;*/
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    }
.marketing h2 {
    font-weight: 400;
    }
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    }
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 4rem 0; /* Space out the Bootstrap <hr> more */
    }

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
    }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
        }
    
    .featurette-heading {
        font-size: 50px;
        }
    }

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
        }
    }


