/**{*/
/*    margin: 5px;*/
/*    padding: 10px;*/
/*}*/
.trade-bg{
    background-color: #F1FAEE;
    /*background-repeat: no-repeat;*/
    min-height: 975px;
}

.trades{
    /*background-color: var(--red);*/
    min-height: 1250px;
}
.tradesTable{
    color: black;
    font-family: Inter, sans-serif;
    /*min-height: 1250px;*/
}
.tableHead{
    font-family: var(--header-font);
    font-size: 15px;
}
.tableBody{
    font-family: var(--main-font);
    font-size: 13px;
    color: black;
}
.tradeImg{
    height: 3.5rem;
    width: 2rem;
}
.tradeTitle{
    font-family: var(--header-font);
    color: var(--dark-blue);
    background-color: var(--sky-blue);
}

.trade-index-btn {
    background-color: var(--dark-blue);
    color: white;
}
/*TRADABLE BOOK SHOW PAGE*/
body{
    min-height: 1080px;
}




















