<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Books4Trade!</title>
    <head th:include="partials:: head"></head>
</head>

<body style="background: antiquewhite">
<nav th:replace="partials :: navbar"></nav>


<div class="d-flex flex-row flex-wrap justify-content-evenly">
    <div class="book-card">
        <img class="img-circle profile-img" src="" alt="">
        <h5>Adam Chappell</h5>
        <a href="https://github.com/adamchappell00">GitHub</a><i class="fa-brands fa-github"></i>
        <a href="https://www.linkedin.com/in/adamschappell/">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="book-card">
        <img class="img-circle profile-img" src="" alt="">
        <h5>Julian Martinez</h5>
        <a href="https://github.com/Julian-H-Martinez">GitHub</a><i class="fa-brands fa-github"></i>
        <a href="https://www.linkedin.com/in/julian-martinez-fullstackdeveloper/">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="book-card">
        <img class="img-circle profile-img" src="" alt="">
        <h5>Charles Aggasid</h5>
        <a href="https://github.com/charlesaggasid">GitHub</a><i class="fa-brands fa-github"></i>
        <a href="https://www.linkedin.com/in/charles-jazper/">LinedIn</a><i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="book-card">
        <img th:src="@{~/img/codeup10210126.jpg}" alt="MichaelGalimore" class="img-circle profile-img">
        <h5 clase="text-center">Michael Galimore</h5>
        <p><a href="https://github.com/michael-galimore">GitHub</a><i class="fa-brands fa-github"></i>
        <a href="https://www.linkedin.com/in/michael-galimore/">LinkedIn</a><i class="fa-brands fa-linkedin"></i>
    </div>

</div>

<div>
    <a href="https://github.com/Books4Trade/Books4Trade">Swap-A-Book Repo</a>
</div>


<footer th:replace="partials :: footer"></footer>
<body th:include="partials :: scripts-bottom" />
</body>
</html>