<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>About Us!</title>
    <head th:include="partials:: head">
<body class="about-us">
<nav th:replace="partials :: navbar"></nav>
<h1 class="text-center headers-font fw-bold pt-3 p-2 text-dark">Swap-A-Book Team</h1>

<div class="row  justify-content-center">
    <div class="width-20 card m-2 p-1 about-us-person">
        <div class="card col px-2 about-us-person">
            <img th:src="@{~/img/adam-Cropped.jpg}" class="card-img img-fluid py-3" alt="...">
            <div class="card-body d-flex flex-column">
                <h6 class="card-title fw-bold">Adam Chappell</h6>
                <p class="card-text-about">Is a Dad, US Army Veteran, and an excited new Full-Stack Software Developer. He loves applying the logic and concepts of languages and frameworks to new situations, with a stronger focus on back-end development.</p>
                <div class="btn-group btn-grp-div align-self-start mt-auto mx-auto">
                    <a href="mailto: adam.chappell00@gmail.com" target="_blank" class="btn btn-outline-success"><i
                            class="bi bi-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/adamschappell/" target="_blank" class="btn btn-outline-primary"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/adamchappell00" target="_blank" class="btn btn-outline-secondary"><i
                            class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="width-20 card m-2 p-1 about-us-person">
        <div class="card col px-2 about-us-person">
            <img th:src="@{~/img/julian-Cropped.jpg}" class="card-img py-3" alt="...">
            <div class="card-body d-flex flex-column">
                <h6 class="card-title fw-bold">Julian Martinez</h6>
                <p class="card-text-about">Is a husband, father of 2 boys, and US Army Veteran taking a leap of faith making a career change after spending 10+ years as a recruiter. Experienced as a Full-Stack Software Developer, Julian enjoys working with databases and back-end development. </p>
                <div class="btn-group btn-grp-div align-self-start mt-auto mx-auto">
                    <a href="mailto: julianmartinez1830@gmail.com" target="_blank" class="btn btn-outline-success"><i
                            class="bi bi-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/julian-martinez-fullstackdeveloper/" target="_blank"
                       class="btn btn-outline-primary"><i class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/Julian-H-Martinez" target="_blank" class="btn btn-outline-secondary"><i
                            class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="width-20 card m-2 p-1 about-us-person">
        <div class="card col px-2 about-us-person">
            <img th:src="@{~/img/michael-Cropped.jpg}" class="card-img py-3" alt="...">
            <div class="card-body d-flex flex-column">
                <h6 class="card-title fw-bold">Michael Galimore</h6>
                <p class="card-text-about">Is a husband and a father of 4. Looking forward to a new career as a Full-Stack Developer. Michael enjoys working on the front-end. </p>
                <div class="btn-group btn-grp-div align-self-start mt-auto mx-auto">
                    <a href="mailto: michaelgalimore82@gmail.com" target="_blank" class="btn btn-outline-success"><i
                            class="bi bi-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/michael-galimore/" target="_blank" class="btn btn-outline-primary"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/michael-galimore" target="_blank" class="btn btn-outline-secondary"><i
                            class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="width-20 card m-2 p-1 about-us-person">
        <div class="card col px-2 about-us-person">
            <img th:src="@{~/img/charles-Cropped.jpg}" class="card-img py-3" alt="...">
            <div class="card-body d-flex flex-column">
                <h6 class="card-title fw-bold">Charles Aggasid</h6>
                <p class="card-text-about">"Always learning something new. Charles enjoys designing beautiful and responsive websites."</p>
                <div class="btn-group btn-grp-div align-self-start mt-auto mx-auto">
                    <a href="mailto: charles.aggasid01@gmail.com" target="_blank" class="btn btn-outline-success"><i
                            class="bi bi-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/charles-jazper/" target="_blank" class="btn btn-outline-primary"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/charlesaggasid" target="_blank" class="btn btn-outline-secondary"><i
                            class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials :: footer"></footer>
<body th:include="partials :: scripts-bottom" />
</body>
</html>