<footer th:fragment="footer" class="text-center text-lg-start bg-secondary text-white" >
    <div class="container-fluid">
        <!-- Section: Social media -->
<!--        <section class="d-flex justify-content-lg-between p-4 border-bottom">-->
<!--            <div class="me-5 d-lg-block w-50 text-center">-->

<!--            </div>-->

<!--        </section>-->
        <!-- Section: Links & Information  -->
        <section class="mt-5">
            <div class="container text-center mt-5">
                <div class="row mt-3">
                    <!-- Column 1 of 3-->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            SwapABook
                        </h6>
                        <p>Swap A Book is a full stack web project brought to you by a group of new developers in San Antonio, Texas.</p>
                    </div>


                    <!-- Column 2 of 3 -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
                        <p><a href="https://github.com/Books4Trade/Books4Trade" class="text-reset">Our Project</a></p>
                        <p><a th:href="@{/about}" class="text-reset">About Us</a></p>

                    </div>
                    <!-- Column 3 of 3 -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-4">
                        <h6 class="text-uppercase fw-bold mb-4">Contact Us
                        </h6>
                        <p><i class="fas fa-envelope fa-lg m-2"></i>swapabook.contact@gmail.com</p>
                        <p><i class="fas fa-house fa-lg m-2"></i> San Antonio, TX 78205, US</p>

                    </div>
                </div>
            </div>
        </section>
        <!-- Copyright Bottom Footer-->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold">swapabook.xyz</a>
        </div>
    </div>
</footer>