<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Swap-A-Book</title>
	<head th:include="partials:: head"></head>
</head>


<body class="main-bg">

<nav th:replace="partials :: navbar"></nav>


<div>
<!--register/login start-->
	<div  sec:authorize="isAnonymous()" class="container px-3 py-0">
		<div class="row justify-content-evenly py-0">
			<div class="col-lg-6 text-center text-lg-start px-4 pt-5">
				<h1 class="header-center fw-bold display-4 lh-1 mb-2 p-2 headers-font">Swap-A-Book</h1>
				<p class="col-lg-12 fs-4 register-paragraph mr-0 text-center">Swap-a-Book has been created for users to connect with other readers. Enjoy reading user reviews and trade with like-minded readers who enjoy picking up a book to pass the time.</p>
			</div>
			<div class="col-lg-6  p-4">
				<form class="px-5 px-md-5 pt-4 pb-3 border rounded-3 bg-light" th:action="@{/login}" method="post">
					<div class="form-floating mb-2">
						<input name="username" class="form-control" id="floatingInput username" placeholder="name@example.com" required>
						<label for="floatingInput username" class="form-label">Username</label>
					</div>
					<div class="form-floating mb-2">
						<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
						<label for="floatingPassword">Password</label>
					</div>
					<button class="btn login-btn text-white text-center w-100 mx-auto" type="submit">Sign in</button>
					<hr>
					<p>Not a member? <a th:href="@{/register}">Register</a></p>
				</form>
			</div>
		</div>
	</div>
	<!--register/login end-->

	<!--Carousel start-->
	<div class="container carousel carousel-container">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img th:src="@{~/img/carousel-book1.jpg}" class="d-block w-100" alt="bookshelf">

					<div class="carousel-caption d-none d-md-block bg-secondary p-2 text-dark bg-opacity-25 text-white">
						<h5>Read books</h5>
					</div>
				</div>
				<div class="carousel-item">
					<img th:src="@{~/img/carousel-book2.jpg}" class="d-block w-100" alt="bookshelf">
					<div class="carousel-caption d-none d-md-block bg-secondary p-2 text-dark bg-opacity-25 text-white">
						<h5>Trade Books</h5>
					</div>
				</div>
				<div class="carousel-item">
					<img th:src="@{~/img/carousel-book3.jpg}" class="d-block w-100" alt="books">
					<div class="carousel-caption d-none d-md-block bg-secondary p-2 text-dark bg-opacity-25 text-white">
						<h5>Connect with people</h5>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<!--Carousel end-->
	<hr>
	<!-- START THE FEATURETTES -->
	<div class="container marketing">

		<div class="row featurette">
			<div class="col-4">
				<h2 class="featurette-heading headers-font mt-2 text-center">Explore</h2>
			</div>
			<div class="col-4">
				<h2 class="featurette-heading headers-font mt-2 text-center text-muted">Read</h2>
			</div>
			<div class="col-4">
				<h2 class="featurette-heading headers-font mt-2 text-center">Connect</h2>
			</div>
		</div>
		<!-- Featured Book: Connect to Reviews and Reads-->
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-3 text-center">
				<img class="featurette-image img-fluid mx-auto feature-image" th:src="${reviewbook.getBookImg()}" alt="book cover">
			</div>
			<div class="col-md-6">
				<h3 class="featurette-heading headers-font header-center mt-1">Our Favorite Books!</h3>
					<h4 class="mt-3"><i class="fa-solid fa-circle-arrow-left"></i> Our highest rated book.</h4>
					<p class="lead">The book <span th:text="${reviewbook.getTitle()}"></span> by <span th:text="${reviewbook.getAuthor().getFullname()}"></span>
						has been reviewed <span th:text="37"></span> times by our users with an average rating of <span th:text="4.7"></span> out of 5. For our newest reviews <a th:href="@{/reviews}">click here!</a></p>
					<h4 class="header-right">Our favorite book to read again and again! <i class="fa-solid fa-circle-arrow-right"></i></h4>
					<p class="lead text-center">The book <span th:text="${readbook.getTitle()}"></span> by <span th:text="${readbook.getAuthor().getFullname()}"></span>
						has been read <span th:text="53"></span> times by our users and is owned by more than
						<span th:text="17"></span> of them. If you haven't read it, <a th:href="|/books/${readbook.getId()}|">go here!</a></p>
			</div>
			<div class="col-md-3 text-center">
				<img class="featurette-image img-fluid mx-auto feature-image" th:src="${readbook.getBookImg()}" alt="book cover">
			</div>
		</div>
		<hr class="featurette-divider">
		<!-- Featured Users: Connect to Trades and Reads -->
		<div class="row featurette mb-4">
			<div class="col-md-7">
				<h3 class="featurette-heading headers-font header-center mt-1">Our Top Users!</h3>
				<div class="row">
					<div class="col-6">
						<h4 class="header-center mt-4">Our Top Librarian</h4>
						<h5 class="header-center mt-2"><span class="text-primary" th:text="${usertrader.getUsername()}"></span> from <span class="text-muted" th:text="${usertrader.getLocation()}"></span></h5>
						<p class="lead text-center mt-2">Has been trading more than any user!</p>
						<p class="lead text-center"><span th:text="${totaltrades}"></span> trades with other users so far and counting! There are <span th:text="${totalreads}"></span> more books owned in their library!</p>
					</div>
					<div class="col-6">
						<h4 class="header-center mt-4">Our Top Bookworm</h4>
						<h5 class="header-center mt-2"><span class="text-primary" th:text="${userreader.getUsername()}"></span> from <span class="text-muted" th:text="${usertrader.getLocation()}"></span></h5>
						<p class="lead text-center mt-2">Has read more here than anyone!</p>
						<p class="lead text-center">So far <span th:text="${totalreads}"></span> of our books have been read and <span th:text="${totalreads}"></span> reviews written by them!</p>
					</div>
				</div>
			</div>
			<div class="col-md-5 text-center">
				<img class="featurette-image img-fluid mx-auto feature-image" th:src="@{~/img/book-reader.jpg}" alt="book cover">
			</div>
		</div>
	</div>
<!-- /END THE FEATURETTES -->
</div>
<!--Close Main Container -->



<footer th:replace="partials :: footer"></footer>
<body th:include="partials :: scripts-bottom" />
</body>
</html>