<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Swap-A-Book</title>
	<head th:include="partials:: head"></head>
</head>


<body class="main-bg">

<nav th:replace="partials :: navbar"></nav>

<!--Carousel start-->
<div class="container carousel carousel-container mw-100 ">
	<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img th:src="@{~/img/carousel-book1.jpg}" class="d-block w-100" alt="bookshelf">

				<div class="carousel-caption d-none d-md-block bg-secondary p-2 text-dark bg-opacity-25 text-white">
					<h5>Read books</h5>
<!--					<p>Some representative placeholder content for the first slide.</p>-->
				</div>
			</div>
			<div class="carousel-item">
				<img th:src="@{~/img/carousel-book2.jpg}" class="d-block w-100" alt="bookshelf">
				<div class="carousel-caption d-none d-md-block bg-secondary p-2 text-dark bg-opacity-25 text-white">
					<h5>Trade Books</h5>
<!--					<p>Some representative placeholder content for the second slide.</p>-->
				</div>
			</div>
			<div class="carousel-item">
				<img th:src="@{~/img/carousel-book3.jpg}" class="d-block w-100" alt="books">
				<div class="carousel-caption d-none d-md-block bg-secondary p-2 text-dark bg-opacity-25 text-white">
					<h5>Connect with people</h5>
<!--					<p>Some representative placeholder content for the third slide.</p>-->
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
<!--Carousel end-->

<!--register/login start-->
<div class="container container-hero col-xl-10 col-xxl-8 px-4 py-5">
	<div class="row align-items-center g-lg-5 py-5">
		<div class="col-lg-7 text-center text-lg-start">
			<h1 class="display-4 fw-bold lh-1 mb-3 ">Swap-a-Book</h1>
			<p class="col-lg-10 fs-4 register-paragraph">Swap-a-Book has been created for users to trade grade appropriate books with other users. Enjoy reading real reader reviews and trade with like minded students who enjoy picking up a book to pass the time.</p>
		</div>
		<div class="col-md-10 mx-auto col-lg-5">
			<form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/login}" method="post">
				<div class="form-floating mb-3">
					<input type="username" name="username" class="form-control" id="floatingInput username" placeholder="name@example.com" required>
					<label for="floatingInput username" class="form-label">Username</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
					<label for="floatingPassword">Password</label>
				</div>
				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<button class="w-100 btn btn-lg btn-primary" type="submit">SIGN IN</button>
				<hr class="my-4">
				<p>Not a member? <a th:href="@{/register}">Register</a></p>
			</form>
		</div>
	</div>
</div>
<!--register/login end-->


<!--Section Start-->
<div class="container marketing">

	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Start trading books. <span class="text-muted">Connect with people.</span></h2>
			<p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
		</div>
		<div class="col-md-5">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
			<p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
		</div>
		<div class="col-md-5 order-md-1">
				<img class="featurette-image img-fluid mx-auto" width="300" height="300" th:src="@{/img/book1.png}" alt="">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
			<p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
		</div>
		<div class="col-md-5">
			<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

		</div>
	</div>

	<hr class="featurette-divider">

	<!-- /END THE FEATURETTES -->
</div>
<!--Section End-->

<!--featured start-->
<div class="container">
	<div class="row">
		<div class="col-lg-6 mb-4">
			<div class="card">
				<img class="card-img-top" src="" alt="">

				<div class="card-body">
					<h5 class="card-title text-center">Featured Book</h5>
					<p class="card-text">
						Some quick example text to build on
						the card title and make up the bulk
						of the card's content.
					</p>

					<a href="#" class="btn btn-outline-primary btn-sm">
						Card link
					</a>
					<a href="#" class="btn btn-outline-secondary btn-sm">
						<i class="far fa-heart"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-4">
			<div class="card">
				<img class="card-img-top" src="" alt="">

				<div class="card-body">
					<h5 class="card-title text-center">Featured User</h5>
					<p class="card-text">
						Some quick example text to build on the
						card title and make up the bulk of the
						card's content.
					</p>

					<a href="#" class="btn btn-outline-primary btn-sm">
						Card link
					</a>
					<a href="#" class="btn btn-outline-secondary btn-sm">
						<i class="far fa-heart"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--featured end-->
</div>

<footer th:replace="partials :: footer"></footer>
<body th:include="partials :: scripts-bottom" />
</body>
</html>