<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials :: head">
    <meta charset="UTF-8">
    <title>Initiate Trade</title>
    <style>
        .book-cover {
            width: 15rem !important;
            height: 17rem !important;
        }
    </style>
</head>
<body>
<header class="p-4">
    <h2 class="text-center">Let's Make a Trade</h2>
</header>
<main class="container">
    <div class="text-center">
        <img th:src="${ownedbook.getBook().getBookImg()}" class="rounded book-cover" alt="...">
        <figcaption class="figure-caption text-center" th:text="${ownedbook.getBook().getTitle()}">A caption for the above image.</figcaption>
    </div>
    <form th:action="@{/books/trade/initiate}" th:method="post">
        <div class="mb-3 row">
            <label for="yourbookid" class="col-sm-2 col-form-label">Your Book To Trade:</label>
                    <select id="yourbookid" name="yourbookid" class="form-select" th:type="number">
                        <label>Select Book To Trade</label>
                        <option th:each="ownedBook : ${mytradables}"
                                th:value="${ownedBook.getBook().getId()}"
                                th:text="${ownedBook.getBook().getTitle()}">
                        </option>
                    </select>
            <div class="col-sm-10">
                <input type="hidden" name="theirbookid" id="theirbookid" th:value="${ownedbook.getId()}">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-12">
                <input type="hidden" name="buddyid" id="buddyid" th:value="${tradebuddy.getId()}">
                <p>TradeBuddy Username: <span th:text="${tradebuddy.getUsername()}"></span>
                </p>
            </div>
        </div>
        <input type="submit" th:value="Submit">
        <!--NEED TO ADD A CANCEL BUTTON-->
    </form>
</main>
<script th:include="partials :: scripts-bottom"/>
</body>
</html>