<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials :: head">
    <meta charset="UTF-8">
    <title>Initiate Trade</title>
    <style>
        .book-cover {
            width: 15rem !important;
            height: 17rem !important;
        }
    </style>
</head>
<body>

<nav th:replace="partials :: navbar"></nav>
<header class="">
    <h2 class="header-center book-index-header-top">Let's Make a Trade</h2>
</header>
<div class="back-img">
    <div class="container form-shadow mb-5 bg-body rounded h-50 w-50 mt-3">
        <div class="col form-color">
            <div class="text-center">
                <img th:src="${ownedbook.getBook().getBookImg()}" class="rounded book-cover" alt="...">
                <figcaption class="figure-caption text-center summary-font mb-3" th:text="${ownedbook.getBook().getTitle()}">A caption for the above image.</figcaption>
            </div>
            <form th:action="@{/books/trade/initiate}" th:method="post" class="pb-4">
                <div class="text-center">
                    <label for="yourbookid" class="summary-font text-center">Your Book To Trade:</label><br>
                    <select id="yourbookid" name="yourbookid" class="text-center mb-3" style="width: auto" th:type="number">
                        <option th:each="ownedBook : ${mytradables}"
                                th:value="${ownedBook.getId()}"
                                th:text="${ownedBook.getBook().getTitle()}">
                        </option>
                    </select>

<!-- <header class="p-4"> -->

<!-- </header> -->
<!-- <div class="min-height"> -->
<!--     <div class="back-img"> -->
<!--         <div class="container form-shadow mb-5 bg-body rounded h-50 w-50 mt-3"> -->
<!--             <h2 class="header-center headers-font light-blue-bg">Let's Make a Trade</h2> -->
<!--             <div class="col form-color"> -->
<!--                 <div class="text-center"> -->
<!--                     <img th:src="${ownedbook.getBook().getBookImg()}" class="rounded book-cover" alt="..."> -->
<!--                     <figcaption class="figure-caption text-center mb-3" th:text="${ownedbook.getBook().getTitle()}">A caption for the above image.</figcaption> -->
<!--                 </div> -->
<!--                 <form th:action="@{/books/trade/initiate}" th:method="post"> -->
<!--                     <div class="text-center"> -->
<!--                         <label for="yourbookid" class="text-center">Your Book To Trade:</label> -->
<!--                         <select id="yourbookid" name="yourbookid" class="text-center mb-3" style="width: auto" th:type="number"> -->
<!--                             <option th:each="ownedBook : ${mytradables}" -->
<!--                                     th:value="${ownedBook.getId()}" -->
<!--                                     th:text="${ownedBook.getBook().getTitle()}"> -->
<!--                             </option> -->
<!--                         </select> -->


                        <div class="text-center">
                            <input type="hidden" name="theirbookid" id="theirbookid" th:value="${ownedbook.getId()}">
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="col-sm-12">
                            <input type="hidden" name="buddyid" id="buddyid" th:value="${tradebuddy.getId()}">
                            <p class="text-center">TradeBuddy Username: <span th:text="${tradebuddy.getUsername()}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn submit-btn text-center" th:value="Submit">
                    </div>

                </div>
                <div class="text-center">
                    <input type="submit" class="btn submit-btn text-center m-1" th:value="Submit">
	                <input type="submit" class="btn submit-btn text-center m-1" th:value="Cancel">
                </div>

                    <!--NEED TO ADD A CANCEL BUTTON-->
                </form>
            </div>
        </div>
    </div>

</div>



<script th:include="partials :: scripts-bottom"/>
</body>
</html>