<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials :: head">
    <meta charset="UTF-8">
    <title>Initiate Trade</title>
</head>
<body>
<!--<nav th:replace="partials :: navbar"></nav>-->

<h2 class="header-center">Let's Make a Trade</h2>

<main class="container">
    <form>
<!--    <form action="" th:method="POST">-->
    </form>
</main>

<!--<div>-->
<!--    <form th:action="@{/books/create}" th:method="POST">-->
<!--        <h2 class="header-center" th:text="${title}"></h2>-->
<!--        <h3 class="header-center">By: <span th:text="${author}"></span></h3>-->
<!--        <div class="text-center">-->
<!--            <img th:src="${imagesrc}">-->
<!--        </div>-->
<!--        <p class="text-center" th:text="${summary}"></p>-->
<!--        <input id="title" name="title" class="form-control" type="hidden" th:value="${title}">-->
<!--        <input id="author" name="author" class="form-control" type="hidden" th:value="${author}">-->
<!--        <input id="image" name="image" class="form-control" type="hidden" th:value="${imagesrc}">-->
<!--        <input id="summary" name="summary" class="form-control" type="hidden" th:value="${summary}">-->
<!--        &lt;!&ndash; Add Select for Categories, Grade Level &ndash;&gt;-->
<!--        <div class="text-center">-->
<!--            <button class="btn btn-lg btn-secondary mt-2 mb-2" type="submit">Add This Book</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

</body>
</html>