<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Available Trades</title>
    <head th:include="partials :: head"></head>
    <link th:href="@{/css/trades.css}" rel="stylesheet">
    <style>
        .book-cover{
            width: 3rem !important;
            height: 5rem !important;
        }
    </style>
</head>
<body class="trade-bg">
<nav th:replace="partials :: navbar"></nav>
<h1 class="text-center tradeTitle m-1 p-3">Available Books for Trade</h1>
<main class="container trades">
    <table class="table table-hover rounded-1 tradesTable">
        <thead class="tableHead text-center">
        <tr>
            <th scope="col">Book Cover</th>
            <th scope="col">Book Title</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="tableBody text-center">
            <tr th:each="tradableBook : ${tradables}">
                <form action="">
                    <td>
                        <img class="align-middle book-cover" th:src="${tradableBook.getBookImg()}" th:alt="${tradableBook.getTitle()}">
                    </td>
                    <td class="align-middle" th:text="${tradableBook.getTitle()}"></td>
                    <td class="align-middle" th:text="${tradableBook.getAuthor().getFullname()}"></td>
                    <td class="align-middle justify-content-between">
                        <input type="submit" class="btn btn-primary btn-sm" value="View"
                               th:formaction="@{/books/trade/{id}(id=${tradableBook.getId()})}"
                               th:formtarget="_blank">
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
</main>


<footer th:replace="partials :: footer"></footer>
<script th:include="partials :: scripts-bottom"></script>
</body>
</html>